@model ListingTodos.Models.User

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
</head>
<body>
    <form action="/" method="post">
        <input type="text" name="Username" placeholder="Username" />
        <button type="submit">Login</button>
    </form>
    <br />
    <form action="/register" method="get">
        <button type="submit">Register</button>
    </form>
</body>
</html>