@model User

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>User registration</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <h1>User registration</h1>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-controller="Login" asp-action="Register" method="post">
            <div class="form-group">
                <label asp-for="UserName" class="col-md-2 control-label">Username</label>
                <div class="col-md-3">
                    <input asp-for="UserName" class="form-control" required autofocus>
                </div>
                <span asp-validation-for="UserName" class="text-danger">&ensp;</span><br />
            </div><br />
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label">Name</label>
                <div class="col-md-3">
                    <input asp-for="Name" type="text" class="form-control">
                </div>
            </div><br /><br />
            <button type="submit" class="btn btn-success">Submit</button>
        </form><br /><br />
        <form asp-controller="Login" asp-action="Login" method="get">
            <button type="submit" class="btn btn-danger">Cancel</button>
        </form>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>