@model ListingTodos.Models.Todo
@{
    Layout = "_Layout";
    ViewBag.Title = "Details";
}
<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <div class="row">
                <h1>Details</h1>
            </div>
        </div>
        <div class="container col-md-offset-3">
            <dl class="dl-horizontal">
                <dt>Todo Description</dt>
                <dd>@Model.Title</dd>
                <dt>Added on</dt>
                <dd>@Model.AddedOn</dd>
                <dt>Is done?</dt>
                @if (Model.IsDone == true)
                {
                    <dd><button class="btn btn-sm glyphicon glyphicon-ok"></button></dd>
                }
                else
                {
                    <dd></dd>
                }                
                @if (Model.IsUrgent == true)
                {
                    <dt><span style="background-color: red">Is urgent?</span></dt>
                    <dd><span style="background-color: red">&#10004;</span></dd>
                }
                else
                {
                    <dt>Is urgent?</dt>
                    <dd></dd>
                }
                <dt>Due on</dt>
                <dd>@Model.DueOn</dd>
            </dl>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <form action="/todo/@Model.Id/edit" method="get">
                    <button type="submit" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil col-md-3" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
            <div class="col-md-1 col-md-offset-1">
                <form action="/todo/@Model.Id/delete" method="post">
                    <button type="submit" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash col-md-3" aria-hidden="true"></span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</body>

