@model Todo
@{
    Layout = "_Layout";
    ViewBag.Title = "Edit todo";
}

<body>
    <div class="container theme-showcase" role="main">
        <div class="page-header">
            <div class="row">
                <h1>Edit todo</h1>
            </div>
        </div>
        <div class="container col-md-offset-3">
            <form action="/todo/@Model.Id/edit" method="post">
                <div class="form-group">
                    <label class="col-md-2 control-label">Todo Description</label>
                    <input type="text" class="col-md-3" name="title" value="@Model.Title"><br>
                </div>
                <div class="form-group">
                    <label asp-for="DueOn" class="col-md-2 control-label">Due on</label>
                    <input asp-for="DueOn" type="date" class="col-md-3" value="@Model.DueOn"><br>
                </div>
                <div class="checkbox col-sm-push-2">
                    <label>
                        <input type="checkbox" name="isDone" value="true" checked="@Model.IsDone">Done
                    </label>
                </div>
                <div class="checkbox col-sm-push-2">
                    <label>
                        <input type="checkbox" name="isUrgent" value="true" checked="@Model.IsUrgent">Urgent
                    </label>
                </div>
                <button type="submit" class="btn btn-success col-md-2">Save changes</button>
            </form>
            <form action="/todo/list" method="get">
                <button type="submit" class="btn btn-primary col-md-offset-2">Cancel</button>
            </form>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
